<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pygame Web Integration</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function() {
            console.log('Connected to server');
        });

        function sendInput() {
            socket.emit('input_event', { input: 'Hello from web client' });
        }

        socket.on('response', function(data) {
            console.log('Server response:', data.message);
        });
    </script>
</head>
<body>
    <h1>Integrasi Pygame dengan Flask</h1>
    <button onclick="sendInput()">Kirim Input ke Game</button>
</body>
</html>
